@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ajustes de Cuenta";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Ajustes de Cuenta</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="breadcrumb-item active">Ajustes de Cuenta</li>
            </ol>
        </nav>
    </div>
    <section class="section account-settings">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Opciones de Cuenta</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="@Url.Action("ResetPassword", "Account")" class="text-primary">
                                    Restablecer Contraseña
                                </a>
                            </li>
                            <li class="list-group-item">
                                <span class="text-muted">Otras opciones (por definir)</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
