@{
    ViewBag.Title = "Etiquetas Nutricionales";
}

<div class="center-container">
    <h2 class="mb-3">Etiquetas Nutricionales</h2>
</div>


<div class="container mt-4">
    <h2 class="mb-3">¿Qué son?</h2>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="feature-card">
                <i class="fas fa-info-circle icon"></i>
                <h3>¿Qué es una etiqueta nutricional?</h3>
                <p>
                    Las etiquetas nutricionales son una herramienta que te ayuda a entender los nutrientes presentes en los alimentos
                    que consumes. Están diseñadas para brindarte información sobre calorías, grasas, azúcares, proteínas y otros
                    componentes esenciales.
                </p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="feature-card">
                <i class="fas fa-check-circle icon"></i>
                <h3>¿Para qué sirven?</h3>
                <p>
                    Sirven para tomar decisiones informadas sobre tu alimentación. 
                    Te permiten comparar productos y elegir los más adecuados para tu 
                    dieta y objetivos de salud. 
              
                </p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="feature-card">
                <i class="fas fa-heartbeat icon"></i>
                <h3>Importancia para la salud</h3>
                <p>
                    Al aprender a leer las etiquetas nutricionales, puedes mejorar tu bienestar general. Puedes asegurarte de
                    que estás consumiendo los nutrientes necesarios para tu salud y comer consientemente. 
                </p>
            </div>
        </div>

        <div class="container mt-4">
            <h2 class="mb-3">¿Cómo interpretar una etiqueta nutricional?</h2>

            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-utensils icon"></i>
                        <h3>Tamaño de la porción</h3>
                        <p>
                            El tamaño de la porción es la cantidad de alimento que se utiliza para calcular los valores nutricionales
                            en la etiqueta. 
                            Asegúrate de comparar la cantidad indicada en la etiqueta con la cantidad que realmente
                            consumes para saber cuántos nutrientes estás ingiriendo 🍳.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-burn icon"></i>
                        <h3>Calorías</h3>
                        <p>
                            Las calorías indican cuánta energía te proporciona una porción de alimento 🤩. 
                            Si estás controlando tu ingesta calórica, este dato es muy importante.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-leaf icon"></i>
                        <h3>Grasas</h3>
                        <p>
                            Las grasas se dividen en grasas totales, grasas saturadas y grasas trans. 
                            Es importante controlar la cantidad de grasas saturadas y trans. 
                            Busca alimentos con bajo contenido en estas grasas ya que pueden llegar a ser dañinos 😥.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-candy-cane icon"></i>
                        <h3>Azúcares</h3>
                        <p>
                            Los azúcares en las etiquetas nutricionales pueden ser naturales 🍉 o añadidos 🧁.
                            Los azúcares añadidos son los que debes tratar de limitar, son los que aumnetan el peso y traen otros prolemas 😥
                         
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-dumbbell icon"></i>
                        <h3>Proteínas</h3>
                        <p>
                            Las proteínas son esenciales para la reparación y crecimiento de los músculos 💪. 
                            Asegúrate de que el valor en la etiqueta se ajuste a tus necesidades diarias.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-vitamin-a icon"></i>
                        <h3>Minerales y Vitaminas</h3>
                        <p>
                            Las etiquetas nutricionales también indican la cantidad de vitaminas y minerales, como el calcio,
                            hierro y vitamina C, entre otros 💊. 
                            Es importante asegurarse de que estás consumiendo suficientes de estos
                            nutrientes esenciales para mantener una buena salud ósea, sanguínea y general.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-percentage icon"></i>
                        <h3>Porcentaje de Valor Diario</h3>
                        <p>
                            El porcentaje de valor diario (%VD) indica qué tan bien una porción de alimento contribuye a la ingesta
                            diaria recomendada de un nutriente. 
                            Si un alimento tiene un %VD alto en algo como la fibra o las
                            vitaminas, eso significa que estás obteniendo una buena parte de lo que necesitas.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="feature-card">
                        <i class="fas fa-list-alt icon"></i>
                        <h3>Lista de Ingredientes</h3>
                        <p>
                            Los ingredientes están listados en orden descendente, de mayor a menor cantidad 📉. 
                            Es importante revisar los primeros ingredientes de la lista, ya que son los que están presentes en mayor cantidad
                            en el producto.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
